.card{
	font-family: Arial, Helvetica, sans-serif;
	background-color:grey;
	border-radius: 5px;
}
.card-body{
	border:solid;
	border-color: gray;
	border-top-color: transparent;
	border-width: thin;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}	
.card-header{
	background: #dc3545;
	color: white;
	font-size:20px;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
.jumbotron{
	text-align: center;
	background: #dc3545;
	color: white;
}
body{
	background-image: url(../images/railway.jpg);
}
